<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button routerLink=".">Link</a>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]="16">
      <agm-marker *ngFor="let marcador of marcadores; let i = index"  [latitude]="marcador.lat" [longitude]="marcador.lng">
        <agm-info-window>
          <strong>{{marcador.titulo}}</strong>
          <p>{{marcador.desc}}</p>
          <div>
            <button (click)="editarMarcador(marcador)" mat-raised-button color="primary">Editar</button>
            <button (click)="borrarMarcador(i)" mat-raised-button color="warn">Borrar</button>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-card-content>
</mat-card>
