<br>
<div class="card text-white bg-primary mb-3" style="width: 100%;">
  <div class="card-header">Directivas Estructurales</div>
  <div class="card-body">
    <h5 class="card-title">*ngIf</h5>
    <p class="card-text">
      Esta instrucción es utilizada cuando se requiera que un elemento sea o no mostrado, como se nota en el ejemplo anterior.
    </p>
  </div>
  <div class="card-body">
    <h5 class="card-title">*ngFor</h5>
    <p class="card-text">
      La siguiente instrucción es utilizada como si fuese un for desplegando una lista de elementos con etiquetas html, como el ejemplo anterior.
    </p>
  </div>
</div>
