<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fotos FireBase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li class="nav-item nav-link active" routerLinkActive="active">
        <a class="nav-link" routerLink="fotos">Fotos</a>
      </li>
      <li class="nav-item nav-link" routerLinkActive="active">
        <a class="nav-link" routerLink="carga">Cargar fotos</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container main-container">
  <router-outlet></router-outlet>
</div>
